wheel==0.36.2
awscli==1.19.28
tensorflow==2.4.2
fastcluster==1.1.26
cython==0.29.23
numpy==1.20.2
pandas==1.2.4
scipy==1.6.2
matplotlib==3.4.1
scikit-learn==0.24.1
jupyterlab==3.0.14
notebook==6.3.0
wheel==0.36.2
seaborn==0.11.1
ipywidgets==7.6.3
lightgbm==3.2.1
hdbscan==0.8.27
